/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
/.vscode
Homestead.json
Homestead.yaml
.env
/.vagrant
Vagrantfile
npm-debug.log
yarn-error.log
/storage/debugbar
/storage/app/public

composer.lock
/public/mix-manifest.json
/public/js/app.*.js
*.lock
.composer.lock
package-lock.json